.team-section{
    background: url(../assests/team.png);
    padding: 0;
    background-size: cover;
    background-position: center;
    box-shadow: 200px 200px 400px 200px rgba(39, 38, 38, 0.285) inset;
    height:calc(100vh - 56px);
}
.team-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 3px;
    padding-top: 10px;
    position: relative;
    color:white;
    margin-bottom: 20px;
}

.team-section h2::after {
    content: "";
    width: 10rem;
    height: .3rem;
    background-color: blueviolet;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

}
.swiper{
    height:89vh;
    margin:0 auto;
}
.card-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    margin-top: 10px;
}

.swiper-slide {
    display: block;
    margin-right: 100px;
}

